.box
  &--links-header
    margin-left: $gap-md

  &--desc
    margin-left: auto
    display: flex
    align-items: flex-end
    flex-wrap: wrap
    flex-direction: column

  &--name
    display: flex
    align-items: flex-end
    justify-content: space-between
    margin-bottom: $gap-sm

  &--avatar
    width: 290px
    height: 290px
    overflow: hidden
    border: 2px solid $white-lg
    border-radius: $br-circ
    position: relative

    &:hover

      .img--avatar-main
        opacity: 0
        transform: translateX(-100%) translateY(-50%)

      .img--avatar-hover
        opacity: 1
        transform: translateX(-50%) translateY(-50%)
