html
    block head
        link(rel="stylesheet" href=`/css/main.css`)
        link(rel='preconnect' href='https://fonts.googleapis.com')
        link(rel='preconnect' href='https://fonts.gstatic.com' crossorigin='')
        link(href='https://fonts.googleapis.com/css2?family=Smooch+Sans:wght@200;350;500;600&display=swap' rel='stylesheet')
        script(src='https://kit.fontawesome.com/d8e00d9123.js' crossorigin="anonymous")
    body
        div.app
            header.section.section--header
                .box.box--avatar
                    img.img.img--avatar.img--avatar-main(src='//cdn.shopify.com/s/files/1/0537/5908/2656/files/Asset_3_600x.png?v=1614182807' alt='avatar' sizes='300px' srcset='//cdn.shopify.com/s/files/1/0537/5908/2656/files/Asset_3_150x.png?v=1614182807 150w, //cdn.shopify.com/s/files/1/0537/5908/2656/files/Asset_3_300x.png?v=1614182807 300w, //cdn.shopify.com/s/files/1/0537/5908/2656/files/Asset_3_600x.png?v=1614182807 600w, //cdn.shopify.com/s/files/1/0537/5908/2656/files/Asset_3_900x.png?v=1614182807 900w, //cdn.shopify.com/s/files/1/0537/5908/2656/files/Asset_3_1200x.png?v=1614182807 1200w, //cdn.shopify.com/s/files/1/0537/5908/2656/files/Asset_3_1500x.png?v=1614182807 1500w, //cdn.shopify.com/s/files/1/0537/5908/2656/files/Asset_3_1800x.png?v=1614182807 1800w, //cdn.shopify.com/s/files/1/0537/5908/2656/files/Asset_3_2100x.png?v=1614182807 2100w')
                    img.img.img--avatar.img--avatar-hover(src="images/avatar-hover.svg")

                .box.box--links-header
                    a.link.link.link--circle.link--column.link--lg(href="mailto:artiomponomariovcode@gmail.com")
                        i.fa.fa-envelope.fa-lg
                    a.link.link.link--circle.link--column.link--lg(href="https://github.com/artponomariov" target="_blank")
                        i.fa-brands.fa-github-alt.fa-lg
                    button.link.link.link--circle.link--column.link--lg(onclick="window.print();")
                        i.fa-solid.fa-file-pdf.fa-lg
                .box.box--desc
                    h1
                        | Artiom Ponomariov
                    .text.text--descr.text--header
                        | frontend developer & css enthusiast
                    .text.text--loc.text--header
                        | Chisinau, Moldova
                        i.fa-solid.fa-location-dot.fa-xs
                    .text.text--tel.text--header
                        | +(373)606-09-177
                        i.fa-solid.fa-phone.fa-xs

            section.section.section--career#career
                .section__header
                    h2
                        | Career Summary
                    i.fa-solid.fa-user.fa-md
                .article.article--career
                    .divider
                    .box--body
                        p Greetings! I am a frontend developer and design adopter with 5 years of commercial experience in CSS, HTML, Javascript and different CMS platforms.
                        p After I graduated as an economist in year 2011, I understood that reality is changing and had to train for a new profession. In this regard, a few years later, I decided that I should also become a programmer and successfully completed my studies at a local university. Education was terrible and only gave an approximate guideline, universities in the CIS do not provide the required amount of knowledge and as a result I had to learn everything myself, and want to continue doing that.
                        p Most of my career I have had freelance sideprojects, but also worked in different Moldavian companies as a frontend developer. Most of my tasks were around bringing design into code.
                        p What I consider most important in modern projects is ability to create a good design system with collaboration from all team members.

            section.section.section--skills#skills
                .section__header
                    h2
                        | Skills
                    i.fa-solid.fa-bolt.fa-md
                .article.article--css
                    .divider
                    .box--name
                        h3
                            | CSS
                    .box--body
                        p This is how I can describe my set of skills around CSS in one sentence: a fan of responsive and crossbrowser code, with ability to do it pixel perfect, lover to read the #[a.link(href="https://www.w3.org/TR/css-2021/" target="_blank") specification] and walk around #[a.link(href="https://www.w3.org/Style/CSS/current-work.html" target="_blank") css modules].
                        p Had experience with many popular CSS concepts like atomic or BEM and frameworks like Bootstrap or Tailwind, but prefer to write everything from scratch and mix the ideas.
                        p Have touched all the popular preprocessors like SASS, SCSS, LESS, Stylus.
                        p Big experience in converting design from figma and similar tools into code.
                        p Had a lot of experience with CSS animations and transitions.
                .article.article--html
                    .divider
                    .box--name
                        h3
                            | HTML
                    .box--body
                        p Good HTML has to be semantic and SEO friendly, but I didn't find a person who is 100% sure how to do it. Not a big accessibility expert, but understand the importance of it.
                        p I am fan of a big russian community Webstandards, and participated a lot in their chats. Once, the owner and creator of this community said a joke that most HTML developers have a disease called "DIVatosis", and I don't want to be this kind of developer. But most of time business doesn't need other tags and don't have resources for e.g. accessibility, so I put design on the first place for myself.

                .article.article--js
                    .divider
                    .box--name
                        h3
                            | Javascript
                    .box--body
                        p As frontend developer, I always faced with various tasks related to it. I even passed the exam with excellent marks, but would love someday to fully understand the prototype inheritance and why OOP in javascript is just a syntax sugar. I am aware of who is developing it and went deep into the specification a couple of times.
                        p I had experience with many modern frameworks like meteor.js, vue, react and ui kits that are used in their ecosystem.
                        p Have tried Javascript animations and libraries like Greensock. My first project was to transform Adobe Premiere video into a landing page that was fully animated.
                        p Had experience with tools like Typescript and Redux, but want to understand them better.
                        p My dream is to start creating cool animations with Canvas someday.
                .article.article--cms
                    .divider
                    .box--name
                        h3
                            | CMS & Nocode
                    .box--body
                        p Here is a list of CMS and site builders with which it was possible to successfully complete the project: Wordpress, Tilda, Cargo, Webflow.
                        p I never was a huge fan of nocode programming , but always faced clients that are in need of supporting their CMS websites, so because of that had to handle this type of tasks. Looking to the future, it seems that the world of nocode programming will only expand and such a set of knowledge will come in handy more than once.
                .article.article--tools
                    .divider
                    .box--name
                        h3
                            | Tag cloud
                    .box--body
                        p List of tools, concepts and technologies that I happened to encounter in various projects: git, jira, trello, figma, meteor.js, jquery, vue, react, mui, redux, bootstrap, gsap, bem, sass, scss, less, stylus, tailwind, atomic, pug, gulp, jetbrains, sublime, vscode, mac os
                        p List of tools that I would love to know better, or had little experience: typescript, cypress, docker, php, koa, laravel, apache, wamp, xampp, python, coffee script, linux, command line
            section.section.section--projects#projects
                .section__header
                    h2
                        | Projects
                    i.fa-solid.fa-briefcase.fa-md
                .divider
                .article.article--projects
                    .box--name.break-before
                        h3
                            | Wealty
                        a.link.link--project(href="https://themeforest.net/item/wealty-multipurpose-real-estate-wordpress-theme/23511272" target="_blank")
                            span
                                | link
                            span.print
                                | https://themeforest.net/item/wealty-multipurpose-real-estate-wordpress-theme/23511272
                    .box--body
                        p A wordpress theme that I was working on as a frontend developer for more than a year. Most of my experience I got from that times, because we had to build a constructor for other websites and when this is the case, the process of development is very different from traditional. It should be borne in mind that the person who bought the theme will definitely want to do something that was not planned. Because of this, there was a feeling that the development process takes forever. In addition, the WordPress ecosystem itself is not perfect, and most of time you have to go through different code styles of different plugins with many problems and limitations.
                    .divider
                    .box--name
                        h3
                            | Fundemic
                        a.link.link--project(href="https://anton-dementiev.github.io/fundemic_website_v2" target="_blank")
                            span
                                | link
                            span.print
                                | https://anton-dementiev.github.io/fundemic_website_v2
                    .box--body
                        p A static site for developers of children's games. The most interesting part of project was morphing animations in hero section.
                    .divider
                    .box--name
                        h3
                            | Dialog
                        a.link.link--project(href="https://dlg.im/en/" target="_blank")
                            span
                                | link
                            span.print
                                | https://dlg.im/en/
                    .box--body
                        p Landing page for a division of Sberbank engaged in the development of a corporate messenger. Everything was done with gulp. Had interesting experience of using google sheets as a webserver.
                    .divider
                    .box--name
                        h3
                            | Tirex
                        span
                            | under nda
                    .box--body
                        p Was a very hard project for a branch of an international gas station network. Interesting design and close attention to pixel perfect.
                    .divider
                    .box--name
                        h3
                            | Kaizen ventures

                        a.link.link--project(href="https://kaizen-ventures.webflow.io/" target="_blank")
                            span
                                | link
                            span.print
                                | https://kaizen-ventures.webflow.io
                    .box--body
                        p To be honest, the Webflow turned out to be the most pleasant site builder I have ever tried before. Still it is nocode programming and I can't be proud of it, but after this project I understood that no matter what the site builder is, it will be possible to quickly deal with it.
                    .divider
                    .box--name
                        h3
                            | Markforge portfolio
                        a.link.link--project(href="https://markforge.cargo.site/" target="_blank")
                            span
                                | link
                            span.print
                                | https://markforge.cargo.site/
                    .box--body
                        p A few logo animations and website fixes for different platforms with this portfolio. For a long time they were looking for the right CMS platform and the customer decided to stop at cargo. Also tried Wordpress and Tilda.
                    .divider
                    .box--name
                        h3
                            | Crismobil
                        span
                            | under nda
                    .box--body
                        p Not every project is completed to the end and this was the case when the customer overdid it with the terms of reference. The main goal was to build a furniture constructor with Javascript. In the middle of the project everybody understood that we had not enough resources to finish it.
            section.section.section--additional#additional
                .section__header
                    h2
                        | Additional skills and interests
                    i.fa-solid.fa-icons.fa-md
                .article.article--additional
                    .divider
                    .box--name
                        h3
                            | Music and design
                    .box--body
                        p Before I started programming I was deeply immersed in the world of music, and even had experience with creating internet label and promoting music on different platforms. After several releases we decided to build a website for our label and it was listed on #[a.link(href="https://brutalistwebsites.com" target="_blank") https://brutalistwebsites.com]. Unfortunately it is not longer supported and is not available, but still on that list.
                        p This was an entry point for me. One of my friends decided to help with building a website and also decided to use meteor.js as a framework. At that time it was most cutting edge technology in the world of Javascript. After he had no time to continue supporting it, I had to do it by myself.
                        p I can’t say that I got used to it, but every post on a website blog was a custom html and css with a lot of experiments. I was doing it for about 5 years, and most of my knowledge and experience in css was because of this project
                        p Example of music we were releasing: #[a.link(href="https://bassfunk.bandcamp.com/album/life-death-ep" target="_blank") https://bassfunk.bandcamp.com/album/life-death-ep]
                        p Example of design around which the site was build: #[a.link(href="https://i.imgur.com/MMaD2nC.png" target="_blank") https://i.imgur.com/MMaD2nC.png]
                    .divider
                    .box--name
                        h3
                            | Photography
                    .box--body
                        p I also have huge experience in photography, and look forward to continue this hobby in the future. For this reason, I am also quite familiar with adobe Photoshop and Premiere

            nav.nav
                a.link.link--circle.link--column.link--xs(href="#career")
                    i.fa-solid.fa-user.fa-md
                a.link.link--circle.link--column.link--xs(href="#skills")
                    i.fa-solid.fa-bolt.fa-md
                a.link.link--circle.link--column.link--xs(href="#projects")
                    i.fa-solid.fa-briefcase.fa-md
                a.link.link--circle.link--column.link--xs(href="#additional")
                    i.fa-solid.fa-icons.fa-md

            .noise
            footer.section.section--footer#pdf
                a.link.link--pdf.link--circle.link--lg(href="cv-light-nopages.pdf" target="_blank")
                    | pdf
                a.link.link--github.link--circle.link--lg(href="https://github.com/artponomariov/artponomariov" target="_blank")
                    | code
        br
        center
            | 😊