html
    block head
        link(rel="stylesheet" href=`/css/main.css`)
        link(rel='preconnect' href='https://fonts.googleapis.com')
        link(rel='preconnect' href='https://fonts.gstatic.com' crossorigin='')
        link(href='https://fonts.googleapis.com/css2?family=Smooch+Sans:wght@200;350;500;600&display=swap' rel='stylesheet')
        script(src='https://kit.fontawesome.com/d8e00d9123.js' crossorigin="anonymous")
    body
        div.app
            header.section.section--header
                .box.box--avatar
                    img.img.img--avatar.img--avatar-main(src='//cdn.shopify.com/s/files/1/0537/5908/2656/files/Asset_3_600x.png?v=1614182807' alt='avatar' sizes='300px' srcset='//cdn.shopify.com/s/files/1/0537/5908/2656/files/Asset_3_150x.png?v=1614182807 150w, //cdn.shopify.com/s/files/1/0537/5908/2656/files/Asset_3_300x.png?v=1614182807 300w, //cdn.shopify.com/s/files/1/0537/5908/2656/files/Asset_3_600x.png?v=1614182807 600w, //cdn.shopify.com/s/files/1/0537/5908/2656/files/Asset_3_900x.png?v=1614182807 900w, //cdn.shopify.com/s/files/1/0537/5908/2656/files/Asset_3_1200x.png?v=1614182807 1200w, //cdn.shopify.com/s/files/1/0537/5908/2656/files/Asset_3_1500x.png?v=1614182807 1500w, //cdn.shopify.com/s/files/1/0537/5908/2656/files/Asset_3_1800x.png?v=1614182807 1800w, //cdn.shopify.com/s/files/1/0537/5908/2656/files/Asset_3_2100x.png?v=1614182807 2100w')
                    img.img.img--avatar.img--avatar-hover(src="images/avatar-hover.svg")

                .box.box--links-header
                    a.link.link.link--circle.link--column.link--lg(href="mailto:artiomponomariovcode@gmail.com")
                        i.fa.fa-envelope.fa-lg
                    a.link.link.link--circle.link--column.link--lg(href="https://github.com/artponomariov")
                        i.fa-brands.fa-github-alt.fa-lg
                    a.link.link.link--circle.link--column.link--lg(href="#pdf")
                        i.fa-solid.fa-file-pdf.fa-lg
                .box.box--desc
                    h1
                        | Artiom Ponomariov
                    .text.text--descr.text--header
                        | frontend developer & css enthusiast
                    .text.text--loc.text--header
                        | Chisinau, Moldova
                        i.fa-solid.fa-location-dot.fa-xs
                    .text.text--tel.text--header
                        | +(373)606-09-177
                        i.fa-solid.fa-phone.fa-xs

            .section.section--career#career
                .section__header
                    h2
                        | Career Summary
                    i.fa-solid.fa-user.fa-md

                .article.article--career
                    .divider
                    .article__body
                        p Greetings! I am a frontend developer and designer with 5 years of commercial experience in CSS, HTML,  Javascript and different CMS platforms.
                        p I enjoy reading css specification and fight for perfection of pixels
                        p I had experience with many modern frameworks and ui kits and also had a chance to build a few design systems

            .section.section--skills#skills
                .section__header
                    h2
                        | Skills
                    i.fa-solid.fa-bolt.fa-md

                .article.article--css
                    .divider
                    .article__name
                        .box--name
                            h3
                                | Css
                    .article__body
                        p Responsive design, crossbrowser, pixel perfect, lover to read the specification and walk around css modules

                .article.article--html
                    .divider
                    .article__name
                        .box--name
                            h3
                                | Html
                    .article__body
                        p Good HTML has to be semantic and seo friendly, but I didn't find a person who is 100% sure how to do it. Not a big accessibility expert, but understand the importance of it.

                .article.article--js
                    .divider
                    .article__name
                        .box--name
                            h3
                                | Javascript
                    .article__body
                        p As frontend developer, I always faced with various tasks related to it. I even passed the exam with excellent marks, but would love someday to fully understand the prototype inheritance and why OOP in javascript is just a syntax sugar. I am aware of who is developing it and went deep into the specification a couple of times. Had experience with vue and react.

                .article.article--tools
                    .divider
                    .article__name
                        .box--name
                            h3
                                | Tools
                    .article__body
                        p here is a list of tools, concepts and technologies that I happened to encounter in various projects: git, jira, trello, jquery, vue, react, mui, redux, bootstrap, atomic, bem, sass, scss, pug, gulp, jetbrains, sublime, vscode, mac os
                        p here is a list of tools that I would love to know better, or had little experience: cypress, docker, php, apache, wamp, xamp, typescript, python, meteor.js, coffee script, linux, cmd

                .article.article--cms
                    .divider
                    .article__name
                        .box--name
                            h3
                                | CMS & Nocode
                    .article__body
                        p here is a list of CMS and site builders with which it was possible to successfully complete the project: Wordpress, Tilda, Cargo, Webflow

            .pb
            .section.section--projects#projects
                .section__header
                    h2
                        | Projects
                    i.fa-solid.fa-briefcase.fa-md
                .divider
                .article.article--projects
                    .article__name
                        .box--name
                            h3
                                | Bassfunk
                            span
                                | closed
                    .article__body
                        p This was an entry point for me. One of my friends decided to help with building a website for musical label and also decided to use meteor.js as a framework. After he had no time to continue supporting it, I had to do it by myself. I can’t say that I really understood what was happening then, but it helped me to start navigating the frontend world
                    .divider
                    .article__name
                        .box--name
                            h3
                                | Wealty
                            a.link.link--project(href="https://themeforest.net/item/wealty-multipurpose-real-estate-wordpress-theme/23511272")
                                | link
                    .article__body
                        p A wordpress theme that I was working on as a frontend developer for more than a year. Most of my experience I got from that times, because we had to build a constructor for other websites and when this is the case, the process of development is very different from traditional. It should be borne in mind that the person who bought the theme will definitely want to do something that was not planned. Because of this, there was a feeling that the development process takes forever. In addition, the WordPress ecosystem itself is not perfect, and if you look under the cop, many fled in horror.
                    .divider
                    .article__name
                        .box--name
                            h3
                                | Fundemic
                            a.link.link--project(href="https://anton-dementiev.github.io/fundemic_website_v2")
                                | link
                    .article__body
                        p A static site for developers of children's games. The most interesting part of project was morphing animations in hero section
                    .divider
                    .article__name
                        .box--name
                            h3
                                | Dialog
                            a.link.link--project(href="https://dlg.im/en/")
                                | link
                    .article__body
                        p Landing page for a division of Sberbank engaged in the development of a corporate messenger . Everything was done with gulp. Had interesting experience of using google sheets as a webserver.
                    .divider
                    .article__name
                        .box--name
                            h3
                                | Proimobil website
                            span
                                | under nda
                    .article__body
                        p Was a very hard project for a branch of an international gas station network. Interesting design and close attention to pixel perfect
                    .divider
                    .article__name
                        .box--name
                            h3
                                | Kaizen ventures

                            a.link.link--project(href="https://kaizen-ventures.webflow.io/")
                                | link
                    .article__body
                        p To be honest, the webflow turned out to be the most pleasant site builder I have ever tried before. Still it is nocode programming and I can't be proud of it, but after this project I understood that no matter what the site builder is, it will be possible to quickly deal with it.
                    .divider
                    .article__name
                        .box--name
                            h3
                                | markforge portfolio
                            a.link.link--project(href="https://markforge.cargo.site/")
                                | link
                    .article__body
                        p A few logo animations and website fixes for different platforms with this portfolio. For a long time they were looking for the right CMS platform and the customer decided to stop at cargo. Also tried wordpress and tilda.
                    .divider
                    .article__name
                        .box--name
                            h3
                                | Crismobil
                            span
                                | under nda
                    .article__body
                        p Not every project is completed to the end and this was the case when the customer overdid it with the terms of reference. The main goal was to build a furniture constructor with javascript. In the middle of the project everybody understood that we had not enough resources to finish it.

            .section.section--additional#additional
                .section__header
                    h2
                        | Additional skills and interests
                    i.fa-solid.fa-icons.fa-md
                .article.article--additional
                    .divider
                    .article__body
                        p Before I started programming I was deeply immersed in the world of music, and even had experience with creating internet label and promoting music on different platforms. After several releases we decided to build a website for our label and it was listed on https://brutalistwebsites.com/. Unfortunately it is not longer supported and is not available, but still on that list 😊 Since than I started to dive into css and javascript

                        p I also have huge experience in photography, and look forward to continue this hobby in the future. For this reason, I am also quite familiar with adobe Photoshop and Premiere

            nav.nav
                a.link.link--circle.link--column.link--xs(href="#career")
                    i.fa-solid.fa-user.fa-md
                a.link.link--circle.link--column.link--xs(href="#skills")
                    i.fa-solid.fa-bolt.fa-md
                a.link.link--circle.link--column.link--xs(href="#projects")
                    i.fa-solid.fa-briefcase.fa-md
                a.link.link--circle.link--column.link--xs(href="#additional")
                    i.fa-solid.fa-icons.fa-md

            footer.section.section--footer#pdf
                button.link.link--pdf.link--circle.link--lg(onclick="window.print();")
                    | pdf
                a.link.link--github.link--circle.link--lg(href="yandex.ru")
                    | code